<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <a href="/Home/Index"><img style="width: 25%;" src="~/Imagens/Brook-icon.png" /></a>
        <h5 style="color:#6700ff; margin: auto">@ViewBag.Pagina</h5>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div style="display:none" class="load"> <img src="~/Imagens/load.gif" /></div>

    <footer class="blockquote-footer text-center">
        <p>&copy; @DateTime.Now.Year Brooks - Todos os direitos reservados</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@RenderSection("script", false)
